@import '~antd/dist/antd.css';


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 20px;
  line-height: 45px;
  color: white;
  float: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App {
  padding-top: 35px;
  width: 600px;
  margin: auto;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px
}

.filter .ant-badge {
  margin-right: 40px;
}

.filter a {
  padding-right: 10px;
  margin-right: 10px;
}

.message {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

li span.delete-item {
  float: right;
  position: relative;
  top: -5px;
  padding-right: 0;
}

.ant-notification {
  width: 250px;
}

.ant-input-group-addon .ant-button {
  top: 0;
  left: 0;
  height: 38px;
  margin-left: -11px;
  margin-right: -11px;
  border-radius: 0;
}

.ant-checkbox-checked + span {
  color: #999;
  text-decoration: line-through;
}

.ant-scroll-number-only > p {
  line-height: 22px;
}

span.delete-item button {

}


li:hover span.delete-item {
  visibility: visible;
}
